@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-desktop-list {
    display: flex;
  }
  .icons-container {
    display: flex;
  }
}
