@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/font/Montserrat-Bold.ttf");
  font-weight: 700;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header {
  box-shadow: 0px 0px 10px #00000050;
  padding: 10px 25px;
  display: grid;
  grid-template-columns: 80% 20%;
}
.menu-desktop {
  display: none;
}
.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo-main img {
  width: 60vw;
}
.menu-responsive {
  cursor: pointer;
  transition: 0.5s;
}
.menu-responsive p {
  background: #000000;
  width: 30px;
  height: 3px;
  margin-bottom: 8px;
  transition: 0.5s;
}
.menu-mobile-list {
  display: none;
  position: absolute;
  z-index: 2;
  top: 65px;
  background: #f0f0f0;
  padding: 15px 30px;
  line-height: 30px;
}
.menu-mobile-list::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #f0f0f0;
  top: -10px;
  left: 142px;
  transform: rotate(45deg);
}
.menu-item a {
  text-decoration: none;
  color: #303030;
}
.show-menu-mobile {
  display: block;
}
.first-bar-close {
  transform: rotate(-45deg);
  margin-bottom: 0 !important;
  width: 35px !important;
  margin-top: 15px;
}
.second-bar-close {
  display: none;
}
.third-bar-close {
  transform: rotate(45deg);
  margin-bottom: 10px !important;
  margin-top: -3px;
  width: 35px !important;
}
.icons-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
}
.search-icon,
.profile-icon,
.mini-cart-ico {
  cursor: pointer;
  width: 30px;
}
.products-container {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  background: #d8d8d8;
  margin: 18px 10px;
  box-shadow: 0px 0px 5px #00000050;
}
.products-content {
  width: 200px;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  background: #eeeeee;
}
.products-container::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #f0f0f0;
  top: -8px;
  left: 82.4%;
  transform: rotate(45deg);
  z-index: -1;
}
.show-mini-cart {
  display: block;
}
.void-cart {
  text-align: center;
  font-weight: 700;
  color: #606060;
}
.products-total-price {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #606060;
  padding: 0 5px;
}
.products-total-price > span {
  font-weight: 700;
}
.products-total-price > span::before {
  content: "";
  margin-right: 5px;
}
.btn-buy {
  width: 100%;
  height: 65px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #00bb16;
  outline: none;
}
.btn-buy:hover {
  background: #009b16;
  transition: 0.5s;
}
.cart-product {
  color: #606060;
  border-bottom: 1px solid #00000020;
  margin-bottom: 10px;
}
.cart-product img {
  width: 50%;
}
.product-name {
  font-size: 15px;
  margin-top: 10px;
}
.product-buy-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.product-quantity {
  color: #000000;
}
.product-price {
  color: #00bb16;
  font-weight: 700;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 4vw;
  }
  .logo-main img {
    width: 10rem;
  }
  .menu-desktop {
    display: block;
  }
  .menu-mobile {
    display: none;
  }
  .menu-desktop-list {
    display: flex;
  }
  .menu-item {
    margin-left: 20px;
  }
  .menu-item a {
    font-size: 14px;
  }
  .search-icon,
  .profile-icon,
  .mini-cart-icon {
    width: 30px;
    margin-left: 30px;
  }
  .search-icon {
    margin-left: 0;
  }
  .products-container {
    margin-right: 2vw;
    margin-top: 16px;
  }
  .products-content {
    width: 350px;
    max-height: 450px;
    padding: 20px;
  }
  .products-container::before {
    width: 25px;
    height: 25px;
    top: -10px;
    left: 87%;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background: #d8d8d8;
  }
  ::-webkit-scrollbar-thumb {
    background: #606060;
  }
  .products-total-price {
    font-size: 20px;
  }
  .btn-buy {
    font-size: 20px;
  }
  .cart-product {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .cart-product img {
    width: 30%;
    height: 30%;
    margin-right: 10px;
  }
  .product-buy-info {
    padding-bottom: 20px;
  }
}

@media (min-width: 1150px) {
  .logo-main img {
    width: 100%;
  }
  .menu-item {
    margin-left: 2.5vw;
  }
  .menu-item a {
    font-size: 16px;
  }
  .search-icon,
  .profile-icon,
  .mini-cart-icon {
    width: 35px;
    margin-left: 50px;
  }
  .products-container {
    margin-top: 20px;
  }
  .products-container::before {
    top: -12px;
    left: 83%;
  }
}
